<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div class="nav" th:fragment="header">
    <h1>Party House</h1>
    <nav class="navbuttons">
        <a class="buttonLook menuButton" th:href="@{/}">Home</a>
        <a class="buttonLook menuButton" th:href="@{/venuelist}">Venuelist</a>
        <a class="buttonLook menuButton" th:href="@{/about}">About</a>
        <a class="buttonLook menuButton" th:href="@{/artistlist}">Artistlist</a>
    </nav>
</div>
</body>
</html>