<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css" />
<body>
<div class="nav">
    <h1>Something went wrong! </h1>
</div>
<div class="freespaceforheader"></div>
<div class="row1">
    <div class="row1content">
        <h2>Our Engineers are on it</h2>
        <a class="buttonLook menuButton" href="/">Home</a>
    </div>
</div>
</body>
</html>