<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css" />
<head>
    <meta charset="UTF-8">
    <title>Pay</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<h1>Datum</h1>
<p th:text="${dateNow}">dateNow</p>
<h1>BetaalDatum</h1>
<p th:text="${payDay}">payDay</p>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>