<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
<head>
    <meta charset="UTF-8">
    <title>venuelist</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="freespaceforheader"></div>

<div class="row1">
    <div class="row1content">
        <h2>venues</h2>
        <div th:text="|${nrOfVenues}  venues found|">venue count</div>
            <div th:if="${showFilters}" class="filters">
                <a th:href="@{/venuelist}" class="buttonLook filterButton">-</a>
            </div>
            <div th:unless="${showFilters}" class="filters">
                <a th:href="@{/venuelist/filter}" class="buttonLook filterButton">Filter</a>
            </div>
        <div class="cols2">
            <div class="venuelist">
                <div th:each="venue: ${venues}">
                    <a class="buttonLook mediumButton"
                       th:href="@{/venuedetails/{venues}(venues=${venue.getId()})}"
                       th:text="${venue.getVenueName()}">venue name</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>