<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css"/>
<head>
    <meta charset="UTF-8">
    <title>venuelist</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="freespaceforheader"></div>

<div class="row1">
    <div class="row1content">
        <h2>venues</h2>
        <div th:text="|${nrOfVenues}  venues found|">venue count</div>
            <div th:if="${showFilters}" class="filters">
                <a th:href="@{/venuelist}" class="buttonLook filterButton">-</a>
                <form>
                    <div class="onefilter">
                        <input type="submit" value="search" class="buttonLook filterButton">
                    </div>
                    <h3>capacity</h3>
                    <div class="onefilter">
                        <label for="minCapacity" class="filtername">min</label>
                        <input type="number" id="minCapacity" name="minCapacity" value="0" th:value="${minCapacity}" step="50"> persons
                    </div>
                    <div class="onefilter">
                        <label for="maxCapacity" class="filtername">max</label>
                        <input type="number" id="maxCapacity" name="maxCapacity" value="0" th:value="${maxCapacity}" step="50"> persons
                    </div>
                    <h3>distance from public transport</h3>
                    <div class="onefilter">
                        <label for="distanceToPublicTransport" class="filtername">max</label>
                        <input type="number" id="distanceToPublicTransport" name="distanceToPublicTransport" value="0" th:value="${distanceToPublicTransport}" step="1"> KM
                    </div>
                    <h3>food</h3>
                    <div class="onefilter">
                        <label for="foodYes" class="filtername">yes</label>
                        <input type="radio" id="foodYes" name="filterFood" value="yes" th:checked="${filterFood == 'yes'}">
                    </div>
                    <div class="onefilter">
                        <label for="foodNo" class="filtername">no</label>
                        <input type="radio" id="foodNo" name="filterFood" value="no" th:checked="${filterFood == 'no'}">
                    </div>
                    <div class="onefilter">
                        <label for="foodAll" class="filtername">all</label>
                        <input type="radio" id="foodAll" name="filterFood" value="all" th:checked="${filterFood == 'all'}">
                    </div>
                    <h3>indoor</h3>
                    <div class="onefilter">
                        <label for="indoorYes" class="filtername">yes</label>
                        <input type="radio" id="indoorYes" name="filterIndoor" value="yes" th:checked="${filterIndoor == 'yes'}">
                    </div>
                    <div class="onefilter">
                        <label for="indoorNo" class="filtername">no</label>
                        <input type="radio" id="indoorNo" name="filterIndoor" value="no" th:checked="${filterIndoor == 'no'}">
                    </div>
                    <div class="onefilter">
                        <label for="indoorAll" class="filtername">all</label>
                        <input type="radio" id="indoorAll" name="filterIndoor" value="all" th:checked="${filterIndoor == 'all'}">
                    </div>
                    <h3>outdoor</h3>
                    <div class="onefilter">
                        <label for="outdoorYes" class="filtername">yes</label>
                        <input type="radio" id="outdoorYes" name="filterOutdoor" value="yes" th:checked="${filterOutdoor == 'yes'}">
                    </div>
                    <div class="onefilter">
                        <label for="outdoorNo" class="filtername">no</label>
                        <input type="radio" id="outdoorNo" name="filterOutdoor" value="no" th:checked="${filterOutdoor == 'no'}">
                    </div>
                    <div class="onefilter">
                        <label for="outdoorAll" class="filtername">all</label>
                        <input type="radio" id="outdoorAll" name="filterOutdoor" value="all" th:checked="${filterOutdoor == 'all'}">
                    </div>
                </form>
            </div>
            <div th:unless="${showFilters}" class="filters">
                <a th:href="@{/venuelist/filter}" class="buttonLook filterButton">Filter</a>
            </div>
        <div class="cols2">
            <div class="venuelist">
                <div th:each="venue: ${venues}">
                    <a class="buttonLook mediumButton"
                       th:href="@{/venuedetails/{venues}(venues=${venue.getId()})}">
                        <span th:text="|${venue.getVenueName()}|">venue name</span>
                        <div th:text="|capacity ${venue.getCapacity()}|">capacity</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>